{%extends 'base.html' %}

{%block content%}
    <h1>{%block title%}Nossos robôs{%endblock%}</h1>
    <div class="container-fluid">
        <!--Cornifer 2.0 FRC-->
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column col-4 align-items-start">
              <strong class="d-inline-block mb-2 text-muted">FRC - OFF SEASON</strong>
              <h3 class="mb-0">
                <a href="#" style="color: rgb(202, 5, 97);">CORNIFER 2.0</a>
              </h3>
              <div class="mb-1 text-muted">2023</div>
              <p class="card-text mb-auto">
                Uma versão aprimorada do nosso primeiro robô, Cornifer 2.0 foi contruido para o Off-Season da temporada <a href="https://www.youtube.com/watch?v=0zpflsYc4PA">FIRST CHARGED UP 2023</a>.Cornifer 2.0 é um robô de chassi AM14U5 modificado com motores NEOs que nós dão mais velocidade e melhor controle de movimento, com ele nós conseguimos pontuar cones e cubos no nível Low e Mid dos Nodes, além de se equilibrar na Charge Station durante o autônomo            </p>
            </div>
            <iframe src="https://hotmail215218.autodesk360.com/shares/public/SHd38bfQT1fb47330c998da70f3d1ad9b929?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0" class="card-img-right flex-auto d-none d-md-block"></iframe>
          </div>
        <!--Cornifer FRC-->
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column col-4 align-items-start">
              <strong class="d-inline-block mb-2 text-muted">FRC - BRASÍLIA</strong>
              <h3 class="mb-0">
                <a href="#" style="color: rgb(202, 5, 97);">CORNIFER</a>
              </h3>
              <div class="mb-1 text-muted">2023</div>
              <p class="card-text mb-auto">
                Nosso primeiro robô de FRC, Cornifer foi construido para a temporada <a href="https://www.youtube.com/watch?v=0zpflsYc4PA">FIRST CHARGED UP 2023</a>.Cornifer é um robô de chassi AM14U5, permitindo que a equipe focasse nossos desenvolvimento inicial nos atuadores ainda permitindo confiança e segurança para a movimentação. Com ele nós conseguiamos colocar cones e cubos no nível baixo dos Nodes e equilibrar na Charge Station durante o teleoperado. 
            </p>
            </div>
            <iframe src="https://hotmail215218.autodesk360.com/shares/public/SHd38bfQT1fb47330c99028443dafad78086?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
          </div>
        <!--Fênix FTC 2022-->
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column col-4 align-items-start">
              <strong class="d-inline-block mb-2 text-muted">FTC - SÃO PAULO</strong>
              <h3 class="mb-0">
                <a href="#" style="color: rgb(202, 5, 97);">FÊNIX</a>
              </h3>
              <div class="mb-1 text-muted">2022</div>
              <p class="card-text mb-auto">
                Nosso último robô de FTC, Fênix foi contruido para a temporada <a href="https://www.youtube.com/watch?v=I6lX12idAf8">FIRST FREIGHT FRENZY 2022</a>. Fênix é um robô que remetia nossas antigas temporadas em seu design inovador com todo seu chassi sendo desenvolvido pela equipe em MDF.
            </p>
            </div>
            <iframe src="https://hotmail215218.autodesk360.com/shares/public/SHd38bfQT1fb47330c990e441b2df649fca0?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>          </div>
        
       <!--Chiocheta  FTC 2021-->
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column col-4 align-items-start">
              <strong class="d-inline-block mb-2 text-muted">FRC - BRASÍLIA</strong>
              <h3 class="mb-0">
                <a href="#" style="color: rgb(202, 5, 97);">CHIOCHETA</a>
              </h3>
              <div class="mb-1 text-muted">2021</div>
              <p class="card-text mb-auto">
                Chiocheta foi contruido para a temporada <a href="https://www.youtube.com/watch?v=zYS0--eeUCM">FIRST ULTIMATE GOAL FTC</a>. Diferente da maioria dos desgins, possuia um chassi octogonal que nos permitia um manejo dos objetos de jogo com mais facilidade além de incorporar conhecimentos de desgin que desenvolvemos na temporada anterior
            </p>
            </div>
            <iframe src="https://hotmail215218.autodesk360.com/shares/public/SHd38bfQT1fb47330c9928da72020c045dca?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
          </div>


    </div>
{%endblock%}