{%extends 'base.html' %}

{%block content%}
    <h1>{%block title%}Alianças da partida{%endblock%}</h1>
    <h6 class="text-muted"> Seleção das equipes de cada aliança</h6>
    
    <form action="#" method="post">
        <div class="row">
            <div class="col-md themed-grid-col">
                <div class="row mb-3 text-center">
                    <div class="col-md"><h2 class="text-danger font-weight-bold">Aliança Vermelha</h2></div>
                </div>
                <div class="row-md-6 themed-grid-col">
                    <label for="Team1R" class="form-label font-weight-bold"> Time 1</label>
                    <input type="text" class="form-control" name="Team1R" value required>
                </div>
                <div class="row-md-6 themed-grid-col">
                    <label for="Team1R" class="form-label font-weight-bold "> Time 2</label>
                    <input type="text" class="form-control" name="Team2R" value required>
                </div>
                <div class="row-md-6 themed-grid-col">
                    <label for="Team1R" class="form-label font-weight-bold"> Time 3</label>
                    <input type="text" class="form-control" name="Team3R" value required>
                </div>
            </div>
            <div class="col-md themed-grid-col">
                <div class="row mb-3 text-center">
                    <div class="col-md"><h2 class="text-primary font-weight-bold">Aliança Azul</h2></div>
                </div>
                <div class="row-md-6 themed-grid-col">
                    <label for="Team1B" class="form-label font-weight-bold"> Time 1</label>
                    <input type="text" class="form-control" name="Team1B" value required>
                </div>
                <div class="row-md-6 themed-grid-col">
                    <label for="Team1B" class="form-label font-weight-bold"> Time 2</label>
                    <input type="text" class="form-control" name="Team2B" value required>
                </div>
                <div class="row-md-6 themed-grid-col">
                    <label for="Team1B" class="form-label font-weight-bold"> Time 3</label>
                    <input type="text" class="form-control" name="Team3B" value required>
                </div>
            </div>
        </div>
        <div class="row themed-grid-col">
            <div class="text-center col-md themed-grid-col" style="padding: 2%;">
                <button type="submit" class="btn btn-outline-success btn-lg btn-block" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </button>
            </div>
        </div>
        
    </form>
{%endblock%}
